main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 5rem;
    font-family: system-ui;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

img {
    max-width: 320px;
    height: auto;
}

button {
    margin: 3rem auto;
    font-family: system-ui;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}